.angle{
    font-size: 26px;
    position: absolute;
     left:0px;top:30% ;
     font-weight: bold;
     color: white; 
     padding:5px 15px;
     border-radius: 100%;
     cursor: pointer;
 }   
.secondangle{
    font-size: 26px;
    position: absolute;
     right:0px;top:30% ;
     font-weight: bold;
     color: white; 
     padding:5px 15px;
     border-radius: 100%;
     cursor: pointer; }

     .mainwrapper{
        height: 100%;
        overflow: hidden;
        
      }